/* Regras de uso Geral*/
*, *::after, *::before {box-sizing: border-box;}

html{font-size: 14px;}

/* código para fazer scrool de pagina

html{
    scroll-behavior: smooth;
}
*/

body,h1,h2,h3,p,figure, header {
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}

img{
/*     max-width: 45%; */
    width: 90%;
}

iframe{ 
    width: 100%;
    border: 0;
}

h1, nav{
    text-transform: uppercase;
}

header{
    background-color: white;
    position: sticky;
    top: 0; right: 0; left: 0;
    
}

header .limitador{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

nav{
    /* background-color: darkblue; */
    width: 65%;
}
nav h2{
    text-align: right;
}
nav a:hover, nav a:focus{
    background-color: lightgray;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}

h1 a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin-left: 0.3rem;
}


figure img{
    max-width: 45%;
    
    
    
}


article h2{
    text-align: center;
    padding: 1rem;
    
}
article p{
    padding: .5rem 0;
    /* text-align: center; */
}
figure{
    /* display: flex; */
    /* flex-wrap: wrap; */
    margin: 1rem 1rem;
    text-align: center;
    
    
}
footer{
    background-color: black;
    color: white;    
    height: 15vh;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* --------------------------------------
Regras para as páginas de produtos, serviços e contato */


.conteudo{
    background-color: whitesmoke;
    padding: .7rem;
    border-radius: 7px;
    
}
table, td, th, tr{
    border: black 2px solid;
    border-collapse: collapse;
}
td, th{
    width: 33%;
    padding: .5rem;
}

table{
    margin:auto;
    max-width: 700px;
    width: 80%;
}
th{
    background-color: black;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
}
td{
    background-color: white;
    
}
td:first-child{
    text-transform: uppercase;
}
/* td:nth-child(2){ background-color:#f0f; } */

td:last-child{color:blue}
/* tr:nth-child(2) td:first-child{ background-color: yellow;} */
caption{
    font-weight: bold;
    font-size: 1.2rem;
}

.icone{
    /* background-color: darkorange; */
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
        
}

.menu{ /* ou 'nav ul'*/
    list-style:none;
    margin: 0;
    /* padding-right: 1rem; */
    display: none;
    position: sticky;
    right: 0;
}
.menu a{
    color:black;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}
.menu-aberto{
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100vw;
    right: 0;
    left: 0;
}
.destaque{
    background-image: url(../imagens/fundo-destaque.jpg);
    height: 90vh;
    color: white;
    /* background-attachment: fixed; */
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.destaque h2{
    font-size: clamp(3rem, 10vw, 5rem);
    animation-name: fadeIn;
    animation-duration: 1.5s;
}
.destaque p{
    font-size: clamp(1.6rem, 4vw, 4rem);
    font-weight: bold;
        
    animation: fadeIn 1.5s .5s backwards; /* animação simplificado NOME DURAÇÃO DELAY FILL */
}
/* Criando animação com @keyframe */
@keyframes fadeIn {
    from{ opacity: 0; }
    to { opacity: 1; }
}

a img{
    box-shadow: black 1px 1px 4px;
    border-radius: 15px;

}

/* nav h2 a{
    color: black;
    margin: 0;
    padding: 0;
    text-align: right;
} */

.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 1rem;
    text-align: center;
}
.historia iframe{ max-width: 800px;}
.historia h2{
    color: #fff;
    text-shadow: black 1px 1px 2px;

}

.limitador {
    max-width: 1100px;
    width: 90vw;
   margin: auto;
   /* background-color: chocolate; */
}
.front-end, .localizacao{
    text-align: center;
    
}

/* Regras específicas de acordo com o tamanho da tela (Media Queries) */

/* para telas maiores que 530px */
@media screen and (min-width: 600px) {
    .icone {
        display: none;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        padding: 2rem 1rem;
    }
    .menu a{
        padding: 0 1rem;
        
    }
    header .limitador{
            height: 15vh;
    }
    .destaque{
        height: 85vh;
    }
    figure img{
        max-width: 22%;
        
        
    }
}


/* Para telas maiores que 800px */
@media screen and (min-width: 800px) {
    html {
        font-size: 18px;
    }
    /* body{
        background-color: #f0f;

    } */

}
/* Formatando o formulário */

form{
    max-width: 500px;
    width: 95%;
    margin: auto;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 10px;
}
/* seletor:not
criar exceções. No exemplo abaixo vamos formatar todos os inputs, exceto, radio e checkbox  */
input:not([type="radio"]):not([type="checkbox"]), select, textarea{
    width: 100%;
    height: 40px;
    border: none;
    padding: 2%;
    box-shadow: black 0 0 1px inset;
    
}
textarea{
    height: auto;
}
button{
    background-color: black;
    color: white;
    border: none;
    padding: 1rem;
    font-weight: bold;
    margin-top: 0.2rem;

}
button:hover, button:focus{
    background-color: darkblue;
    cursor: pointer;
}
form div{
    margin-top: 1rem;
}
.linguagens img{
    width:90%;
}

/* #status{
    color: red;
} */
